### LAB - S10-L001 - Import
1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy
2. Strona https://www.europeandataportal.eu/data/en/dataset/http-ec-europa-eu-eurostat-web-products-datasetsisoc_cimobi_frq (https://www.europeandataportal.eu/data/en/dataset/http-ec-europa-eu-eurostat-webproducts-datasets-isoc_cimobi_frq) zawiera informacje na temat wykorzystania mobilnego internetu w EU. Dane w postaci CSV znajdują się pod adresem http://ec.europa.eu/eurostat/estat-navtree-portletprod/BulkDownloadListing?file=data/isoc_cimobi_frq.tsv.gz&unzip=true (http://ec.europa.eu/eurostat/estatnavtree-portlet-prod/BulkDownloadListing?file=data/isoc_cimobi_frq.tsv.gz&unzip=true) W kolejnych punktach będziesz pobierać ten plik. Gdyby podany wyżej link nie był już aktualny, to skorzystaj z dołączonego pliku mobile_internet_use_isoc_cimobi_frq.tsv. Znaczenie symboli określających różne rodzaje połączeń znajdziesz pod adresem http://dd.eionet.europa.eu/vocabulary/eurostat/indic_is/view?E_SECINONE=&page=6 (http://dd.eionet.europa.eu/vocabulary/eurostat/indic_is/view?E_SECINONE=&page=6)
3. Zadeklaruj zmienną url wskazującą na adres z danymi
4. Zaimportuj dane do zmiennej df. Jako separator pól wykorzystaj tabulator
5. Do zmiennej df_desc zapisz data frame utworzony jako wynik rozbicia danych z kolumny indic_is,ind_type,unit,time\geo ze względu na przecinek. Skorzystaj z opcji konwertującej wynik do data frame (expand)
6. W df_desc zmień nazwy kolumn z 0,1,2,3 na 'indic_is','ind_type',unit','time'
7. Korzystając z polecenia join dołacz do df_desc dane z df
8. Z df_desc usuń niepotrzebną już kolumnę 'indic_is,ind_type,unit,time\geo'
9. Pod adresem https://examples.opendatasoft.com/explore/dataset/world-heritage-unesco-list/export/ (https://examples.opendatasoft.com/explore/dataset/world-heritage-unesco-list/export/) znajdują się dane dotyczące obiektów na liście UNESCO. Zaimportuj dane dostępne pod adresem https://examples.opendatasoft.com/explore/dataset/world-heritage-unesco-list/download/?format=json& timezone=Europe/Berlin (https://examples.opendatasoft.com/explore/dataset/world-heritage-unescolist/download/?format=json&timezone=Europe/Berlin) Jeżeli plik byłby niedostępny, to skorzystaj z lokalnego pliku world-heritage-unesco-list.json

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?file=data/isoc_cimobi_frq.tsv.gz&unzip=true'

In [3]:
df = pd.read_csv(url, delimiter='\t')

In [4]:
df.head()

,"indic_is,ind_type,unit,time\geo",EU27_2020,EU28,EU27_2007,EU15,EA,BE,BG,CZ,DK,...,SI,SK,FI,SE,IS,NO,UK,ME,MK,TR
0,"I_IHDDAY,CB_EU_FOR,PC_IND,2012",13,15,15,16,12,15,: u,: u,22,...,: u,14 u,35 u,35 u,16,31 u,39,:,:,:
1,"I_IHDDAY,CB_EU_FOR,PC_IND_IU3,2012",18,21,21,21,17,19,: u,: u,22,...,: u,17 u,36 u,40 u,17,32 u,46 u,:,:,:
2,"I_IHDDAY,CB_EU_FOR,PC_IND_IUHD,2012",57,57,57,57,55,48,: u,: u,49 u,...,: u,: u,: u,: u,40 u,50 u,60 u,:,:,:
3,"I_IHDDAY,CB_EXT_EU,PC_IND,2012",15,21,21,22,13,11,25 u,:,35,...,3,: u,22,39,16 u,32 u,39,:,:,:
4,"I_IHDDAY,CB_EXT_EU,PC_IND_IU3,2012",21,28,28,29,19,15,28 u,:,39,...,5,: u,24 u,42,17 u,32 u,43,:,:,:

In [5]:
df_desc = df['indic_is,ind_type,unit,time\\geo'].str.split(',', expand=True)

In [6]:
df_desc.head()

          0          1            2     3
0  I_IHDDAY  CB_EU_FOR       PC_IND  2012
1  I_IHDDAY  CB_EU_FOR   PC_IND_IU3  2012
2  I_IHDDAY  CB_EU_FOR  PC_IND_IUHD  2012
3  I_IHDDAY  CB_EXT_EU       PC_IND  2012
4  I_IHDDAY  CB_EXT_EU   PC_IND_IU3  2012

In [7]:
df_desc.rename({0: 'indic_is', 1: 'ind_type', 2:'unit', 3:'time\\geo'}, inplace=True, axis=1)

In [8]:
df_desc.head()

   indic_is   ind_type         unit time\geo
0  I_IHDDAY  CB_EU_FOR       PC_IND     2012
1  I_IHDDAY  CB_EU_FOR   PC_IND_IU3     2012
2  I_IHDDAY  CB_EU_FOR  PC_IND_IUHD     2012
3  I_IHDDAY  CB_EXT_EU       PC_IND     2012
4  I_IHDDAY  CB_EXT_EU   PC_IND_IU3     2012

In [10]:
df_desc = df_desc.join(df)

In [12]:
df_desc.drop(labels='indic_is,ind_type,unit,time\\geo', axis=1, inplace = True)

In [13]:
df_desc.head()

,indic_is,ind_type,unit,time\geo,EU27_2020,EU28,EU27_2007,EU15,EA,BE,...,SI,SK,FI,SE,IS,NO,UK,ME,MK,TR
0,I_IHDDAY,CB_EU_FOR,PC_IND,2012,13,15,15,16,12,15,...,: u,14 u,35 u,35 u,16,31 u,39,:,:,:
1,I_IHDDAY,CB_EU_FOR,PC_IND_IU3,2012,18,21,21,21,17,19,...,: u,17 u,36 u,40 u,17,32 u,46 u,:,:,:
2,I_IHDDAY,CB_EU_FOR,PC_IND_IUHD,2012,57,57,57,57,55,48,...,: u,: u,: u,: u,40 u,50 u,60 u,:,:,:
3,I_IHDDAY,CB_EXT_EU,PC_IND,2012,15,21,21,22,13,11,...,3,: u,22,39,16 u,32 u,39,:,:,:
4,I_IHDDAY,CB_EXT_EU,PC_IND_IU3,2012,21,28,28,29,19,15,...,5,: u,24 u,42,17 u,32 u,43,:,:,:

In [16]:
url1 = 'https://examples.opendatasoft.com/api/records/1.0/search/?dataset=world-heritage-unesco-list&q=&facet=category&facet=country_en&facet=country_fr&facet=continent_en&facet=continent_fr'

In [19]:
url2 = 'https://examples.opendatasoft.com/api/records/1.0/search/?dataset=world-heritage-unesco-list'

In [22]:
pd.read_json('./course-files/world-heritage-unesco-list.json')

,datasetid,recordid,fields,geometry,record_timestamp
0,world-heritage-unesco-list,ff1f5b718ce2ee87f18dfaf20610f257979f2f4a,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [26.69139, 53...",2017-10-17T17:34:52+02:00
1,world-heritage-unesco-list,0fd1ad38878a73b01bf59ed430446e098709cea1,"{'category': 'Natural', 'short_description_en'...","{'type': 'Point', 'coordinates': [14.996666666...",2017-10-17T17:34:52+02:00
2,world-heritage-unesco-list,fa66a8d51c28871277f1cdd9c0f2d092a423ff5f,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [-112.91611, ...",2017-10-17T17:34:52+02:00
3,world-heritage-unesco-list,b16a410e99f603ef138909f6de916de08f0cfdc2,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [10.33333, 24...",2017-10-17T17:34:52+02:00
4,world-heritage-unesco-list,bb09d483a4ca7411a334314fb13f13301fa51bc0,"{'category': 'Natural', 'short_description_en'...","{'type': 'Point', 'coordinates': [114.91667, 4...",2017-10-17T17:34:52+02:00
...,...,...,...,...,...
1047,world-heritage-unesco-list,56eb288886ea2292e967d1f1bffa113716b54a13,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [-1.361388889...",2017-10-17T17:34:52+02:00
1048,world-heritage-unesco-list,ba0194f29e91fc29ab548a5d8027732270c545ff,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [48.79667, 36...",2017-10-17T17:34:52+02:00
1049,world-heritage-unesco-list,9cac2d1355326552b3d7f353477555faca6d121b,"{'category': 'Natural', 'short_description_en'...","{'type': 'Point', 'coordinates': [20.505555555...",2017-10-17T17:34:52+02:00
1050,world-heritage-unesco-list,0d93d20a163f316c5cb8b3380ac1b24efa32b4d2,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [57.503166666...",2017-10-17T17:34:52+02:00
1051,world-heritage-unesco-list,e0008b2c6110a51915e4314b598e736676f0f74d,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [-1.51056, 48...",2017-10-17T17:34:52+02:00

In [23]:
pd.read_json('./course-files/world-heritage-unesco-list (3).json')

,datasetid,recordid,fields,geometry,record_timestamp
0,world-heritage-unesco-list,ff1f5b718ce2ee87f18dfaf20610f257979f2f4a,"{'latitude': 53.22278, 'geographical_coordinat...","{'type': 'Point', 'coordinates': [26.69139, 53...",2017-10-17T17:34:52.121+02:00
1,world-heritage-unesco-list,fa66a8d51c28871277f1cdd9c0f2d092a423ff5f,"{'latitude': 27.65556, 'geographical_coordinat...","{'type': 'Point', 'coordinates': [-112.91611, ...",2017-10-17T17:34:52.121+02:00
2,world-heritage-unesco-list,98eee6ac2130e7ebd6747679e709751aa8699673,"{'latitude': 45.18333333, 'geographical_coordi...","{'type': 'Point', 'coordinates': [24.01666667,...",2017-10-17T17:34:52.121+02:00
3,world-heritage-unesco-list,0fd1ad38878a73b01bf59ed430446e098709cea1,"{'latitude': 37.7561111111, 'geographical_coor...","{'type': 'Point', 'coordinates': [14.996666666...",2017-10-17T17:34:52.121+02:00
4,world-heritage-unesco-list,bf771d666b4982409602ed9f069a99e982c8696b,"{'latitude': 50.17444, 'geographical_coordinat...","{'type': 'Point', 'coordinates': [3.23139, 50....",2017-10-17T17:34:52.121+02:00
...,...,...,...,...,...
1047,world-heritage-unesco-list,6fde968f74873b47fca9af3534993afe3579b301,"{'latitude': 43.0922138889, 'geographical_coor...","{'type': 'Point', 'coordinates': [17.924052777...",2017-10-17T17:34:52.121+02:00
1048,world-heritage-unesco-list,a05bd5c379a743a146fbf136840b2f3a130a7cd9,"{'latitude': 33.08333, 'geographical_coordinat...","{'type': 'Point', 'coordinates': [103.91667, 3...",2017-10-17T17:34:52.121+02:00
1049,world-heritage-unesco-list,56eb288886ea2292e967d1f1bffa113716b54a13,"{'latitude': 51.84194444, 'geographical_coordi...","{'type': 'Point', 'coordinates': [-1.361388889...",2017-10-17T17:34:52.121+02:00
1050,world-heritage-unesco-list,9cac2d1355326552b3d7f353477555faca6d121b,"{'latitude': 19.055, 'geographical_coordinates...","{'type': 'Point', 'coordinates': [20.505555555...",2017-10-17T17:34:52.121+02:00
1051,world-heritage-unesco-list,e0008b2c6110a51915e4314b598e736676f0f74d,"{'latitude': 48.63556, 'geographical_coordinat...","{'type': 'Point', 'coordinates': [-1.51056, 48...",2017-10-17T17:34:52.121+02:00