### LAB - S03-L011-LAB Metody where i query
1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej animals wczytaj zawartość pliku sleep_time.csv. Pobierz wszystkie kolumny, a kolumnę ID wybierz jako indeks. Podczaswczytywania zamień wszystkie wartości NaN na 0. Wyświetl nagłówek zaimportowanego pliku.
2. W kolumnie vore znajduje się informacja o tym czy zwierzę jest roślinożerne (herbi), mięsożerne (carni) iwszystkożerne (omni). Korzystając z metody where wybierz wiersze opisujące zwierzęta roślinożerne.Wynik zapisz w zmiennej herbi
3. Ile wierszy jest w zmiennej herbi?
4. Ile wierszy jest w zmiennej herbi po usunięciu wartości NaN?
5. Utwórz zmienną carni i zapisz w niej wynik filtrowania obiektu animals tak, że pobrane zostaną tylkowiersze zwierząt mięsożernych. Wyświetl informację o ilości wierszy w zmiennej carni oraz o ilości wierszypo usunięciu wartości NaN. 
6. Utwórz zmienną omni i zapisz w niej wynik filtrowania obiektu animals tak, że pobrane zotaną tylkowiersze zwierząt wszystkożernych. Wyświetl informację o ilości wierszy w zmiennej omni oraz o ilościwierszy po usunięciu wartości NaN. 
7. Wyświetl średni czas snu (kolumna sleep_total) dla zwierząt roślino-, mieso- i wszystkożernych. Czymożna próbować postawić hipotezę, że rodzaj pokarmu wpływa na czas snu?
8. Korzystając z polecenia query wybierz te wiersze, które opisują zwierzęta śpiące więcej niż 14 godzin nadobę (kolumna sleep_total)
9. Do warunku z poprzedniego zadania dodaj: rodzaj zwierzęcia (kolumna vore) ma być roślinożerny(wartość herbi)
10. Do warunku z poprzedniego zadania dodaj: waga ciała (kolumna bodywt) ma być większa niż 1

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
animals = pd.read_csv('.\course-files\sleep_time.csv', index_col='ID').fillna(0)

In [6]:
animals.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.9,0.00000,50.000
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [8]:
herbi = animals.where(animals.vore == 'herbi')

In [9]:
len(herbi)

83

In [10]:
herbi

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.000,1.35
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.423,600.00
...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
len(herbi.dropna())

32

In [14]:
carni = animals.where(animals.vore == 'carni')

In [19]:
print(len(carni))
print(len(carni.dropna()))

83
19

In [20]:
omni = animals.where(animals.vore == 'omni')
print(len(omni))
print(len(omni.dropna()))

83
20

In [23]:
print('herbi sleep - ',herbi['sleep_total'].mean())
print('carni sleep - ',carni['sleep_total'].mean())
print('omni sleep - ',omni['sleep_total'].mean())

herbi sleep -  9.509375
carni sleep -  10.378947368421054
omni sleep -  10.924999999999999

In [25]:
animals.query('sleep_total > 14 and vore == "herbi"')

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.0000,1.350
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.0000,3.850
27,Western american chipmunk,Eutamias,herbi,Rodentia,0,14.9,0.0,0.000000,9.1,0.0000,0.071
39,Mongolian gerbil,Meriones,herbi,Rodentia,lc,14.2,1.9,0.000000,9.8,0.0000,0.053
40,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.0010,0.120
44,Round-tailed muskrat,Neofiber,herbi,Rodentia,nt,14.6,0.0,0.000000,9.4,0.0000,0.266
70,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,0.0,0.000000,7.4,0.0057,0.920
72,Golden-mantled ground squirrel,Spermophilus,herbi,Rodentia,lc,15.9,3.0,0.000000,8.1,0.0000,0.205
76,Eastern american chipmunk,Tamias,herbi,Rodentia,0,15.8,0.0,0.000000,8.2,0.0000,0.112

In [26]:
animals.query('sleep_total > 14 and vore == "herbi" and bodywt > 1')

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.0,1.35
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.0,3.85